<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xinranliu.alfred2-date-formatter</string>
	<key>createdby</key>
	<string>xinranliu</string>
	<key>description</key>
	<string>to generate time stamp or parse time stamp</string>
	<key>name</key>
	<string>date-formatter</string>
	<key>webaddress</key>
	<string>xinranliu.me</string>
</dict>
</plist>
